<div class="card col-7" >
    <form action="/{{data._id}}/{{data.photo.filename}}" method="POST" enctype="multipart/form-data" class=" m-auto">
        <img class="card-img-top" src="/img/{{data.photo.filename}}" alt="Card image cap">
        <label> Uploud your image</label>
        <input type="file" name="uploadProductPic">
        <div class="card-body">
            <div class="card-body">
                <h2><label for="name">Name:</label>
                    <input type="text" id="name" name="articaleName" value="{{data.articaleName}}"></h2>

                <h4>Price:<label for="name">Name:</label>
                    <input type="number" id="name" name="articalePrice" value="{{data.articalePrice}}"><span
                        style="font-size: large;color: green;"><i class="fas fa-euro-sign"></i></span></h4>
                <p class="card-text"><label for="description">Description:</label>
                    <textarea id="description" name="description" >{{data.description}} </textarea></p>
                <button type="submit" class="btn btn-danger">edit</button>

    </form>
</div>
</div>